*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
body{
    background-color: blue;
}
.card{
background: white;
width: 270px;
margin: 10px;
border-radius:;

}
.card-image{
    background-color:aqua;
    height: 150px;
    margin-bottom: 15px;
    background-size: cover;
}
.laptop-1{
    background-image: url('images/top-view-man-using-his-laptop.jpg');
}
.laptop-2{
    background-image: url('images/top-view-man-using-his-laptop.jpg');
}

.card p{
    padding: 10%; 
}
.card h2{
    padding: 10px;
}
.card a{
    background-color: black;
    color:white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
}
.card:hover{
    background-color: rgb(62,62,62);
    color: white;
    cursor: pointer;
    transform: scale(1.0);
    transition: 2s;
}
